@import url(./header.css);
@import url(./main.css);
@import url(./normalize.css);
@import url(./best-video.css);
@import url(./about-nas.css);
@import url(./modal.css);
@import url(./contacs.css);

.cont {
    padding: 0 50px;
}

* {
    box-sizing: border-box;
    z-index: 1;
}